<div class="dialog-container">
    <div class="dialog-header">
        <h2>{{ tournament.name }}</h2>
        <button class="close-button" (click)="close()">×</button>
    </div>

    <!-- Group Stage Results -->
    <div class="section">
        <h3>Faza grupowa</h3>
        <div class="groups-grid">
            <div *ngFor="let group of tournament.groups" class="group-results">
                <h4>Grupa {{ group.id + 1 }}</h4>
                <div class="standings">
                    <table class="standings-table">
                        <thead>
                            <tr>
                                <th>Miejsce</th>
                                <th>Zawodnik</th>
                                <th>Punkty</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let standing of getGroupStandings(group); let i = index"
                                [ngStyle]="{'background-color': i + 1 <= 2 ? 'gold' : ''}">
                                <td>{{ i + 1 }}</td>
                                <td>{{ standing.player.name }}</td>
                                <td>{{ standing.points }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <table class="results-table">
                    <tbody>
                        <tr *ngFor="let match of group.matches">
                            <td [class.winner]="isWinner(match, match.player1)">
                                {{ match.player1.name }}
                                @if (match.player1Stats) {
                                <app-player-stats [playerStats]="match.player1Stats"></app-player-stats>
                                }
                            </td>
                            <td class="score">
                                {{ match.completed ? match.player1Score + ' - ' + match.player2Score : '-' }}
                            </td>
                            <td [class.winner]="isWinner(match, match.player2)">
                                {{ match.player2.name }}
                                @if (match.player2Stats) {
                                <app-player-stats [playerStats]="match.player2Stats"></app-player-stats>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Knockout Stage Results -->
    <div *ngIf="tournament.knockoutStageStarted" class="section">
        <h3>Faza pucharowa</h3>
        <div class="knockout-results">
            <div *ngFor="let round of ['Round-16','Quarter-Finals', 'Semi-Finals']" class="round-results">
                <h4>{{ round }}</h4>
                <table class="results-table">
                    <tbody>
                        <tr *ngFor="let match of getMatchesByRound(round)">
                            <td [class.winner]="isWinner(match, match.player1)">
                                {{ match.player1.name }}
                                @if (match.player1Stats) {
                                <app-player-stats [playerStats]="match.player1Stats"></app-player-stats>
                                }
                            </td>
                            <td class="score">
                                {{ match.completed ? match.player1Score + ' - ' + match.player2Score : '-' }}
                            </td>
                            <td [class.winner]="isWinner(match, match.player2)">
                                {{ match.player2.name }}
                                @if (match.player2Stats) {
                                <app-player-stats [playerStats]="match.player2Stats"></app-player-stats>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="round-results">
                <h4>Finał</h4>
                <table class="results-table">
                    <tbody>
                        @if (getMatchesByRound('Final')[0]; as final) {
                        <tr>
                            <td [class.winner]="isWinner(final, final.player1)">
                                {{ final.player1.name }}
                                @if (final.player1Stats) {
                                <app-player-stats [playerStats]="final.player1Stats"></app-player-stats>
                                }
                            </td>
                            <td class="score">
                                {{ final.completed ? final.player1Score + ' - ' + final.player2Score : '-' }}
                            </td>
                            <td [class.winner]="isWinner(final, final.player2)">
                                {{ final.player2.name }}
                                @if (final.player2Stats) {
                                <app-player-stats [playerStats]="final.player2Stats"></app-player-stats>
                                }
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
                <h4>Mecz o 3 miejsce</h4>
                <table class="results-table">
                    <tbody>
                        @if (getMatchesByRound('Third-Place')[0]; as thirdPlace) {
                        <tr>
                            <td [class.winner]="isWinner(thirdPlace, thirdPlace.player1)">
                                {{ thirdPlace.player1.name }}
                                @if (thirdPlace.player1Stats) {
                                <app-player-stats [playerStats]="thirdPlace.player1Stats"></app-player-stats>
                                }
                            </td>
                            <td class="score">
                                {{ thirdPlace.completed ? thirdPlace.player1Score + ' - ' + thirdPlace.player2Score :
                                '-' }}
                            </td>
                            <td [class.winner]="isWinner(thirdPlace, thirdPlace.player2)">
                                {{ thirdPlace.player2.name }}
                                @if (thirdPlace.player2Stats) {
                                <app-player-stats [playerStats]="thirdPlace.player2Stats"></app-player-stats>
                                }
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Tournament Statistics -->
    <div class="section">
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h4>{{panelOpenState() ? 'Zwiń' : 'Rozwiń'}} statystyki zawodników</h4>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="player-tournament-stats">
                    <div *ngFor="let player of tournament.participants" class="player-stat-card">
                        <h5>{{ player.name }}</h5>
                        <div class="player-stat-details">
                            <div class="stat-row">
                                <span>180s:</span>
                                <span>{{ getPlayerTournamentStats(player).total180s }}</span>
                            </div>
                            <div class="stat-row">
                                <span>171s:</span>
                                <span>{{ getPlayerTournamentStats(player).total171s }}</span>
                            </div>
                            <div class="stat-row">
                                <span>Highest Finish:</span>
                                <span>{{ getPlayerTournamentStats(player).highestFinish }}</span>
                            </div>
                            <div class="stat-row">
                                <span>Best Leg:</span>
                                <span>{{ getPlayerTournamentStats(player).bestLeg }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>