@if (series()) {
<div class="series-container">
    <h1>{{ series().name }}</h1>

    <div class="rankings-container">
        <h2>Tabela generalna</h2>
        <div class="table-container">
            <table class="rankings-table">
                <thead>
                    <tr>
                        <th class="vertical">
                            <div>Miejsce</div>
                        </th>
                        <th></th>
                        <th>Zawodnik</th>
                        <th *ngFor="let tournament of seriesTournaments; let i = index" class="vertical">
                            <div>Turniej {{ i + 1 }}</div>
                        </th>
                        <th>Pkt</th>
                        <th>180</th>
                        <th>171</th>
                        <th>HF</th>
                        <th>BL</th>
                        <th>Mecze</th>
                        <th>Legi</th>
                        <th class="vertical">
                            <div style="transform: rotate(-90deg) translateX(50%)">Bilans legów</div>
                        </th>
                        <th class="vertical">
                            <div style="transform: rotate(-90deg) translateX(40%)">Wygranych legów</div>
                        </th>
                        <th class="vertical">
                            <div style="transform: rotate(-90deg) translateX(40%)">Wygranych meczy</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ranking of seriesRankings; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>
                            <span [class.up]="ranking.rankChange > 0" [class.down]="ranking.rankChange < 0">
                                {{
                                ranking.rankChange > 0
                                ? "↑"
                                : ranking.rankChange < 0 ? "↓" : "-" }} {{ ranking.rankChange !==0 ?
                                    Math.abs(ranking.rankChange) : "" }} </span>
                        </td>
                        <td style="font-weight: bold;">{{ ranking.player.name }}</td>
                        <td *ngFor="let points of ranking.tournamentPoints"
                            [ngClass]="points === 40 ? 'bg-gold' : points === 34 ? 'bg-silver' : points === 30 ? 'bg-bronze' : ''">
                            {{ !!points ? points : '-' }}
                        </td>
                        <td style="font-weight: bold;">{{ ranking.totalPoints }}</td>
                        <td>{{ ranking.total180s }}</td>
                        <td>{{ ranking.total171s }}</td>
                        <td>{{ ranking.highestFinish }}</td>
                        <td>{{ ranking.bestLeg }}</td>
                        <td>{{ ranking.matchesPlayed }}</td>
                        <td>{{ ranking.legsPlayed }}</td>
                        <td
                            [ngStyle]="{'background-color': ranking.legDifference === 0 ? '#f7f30a' : (ranking.legDifference > 0 ? '#33ab15' : '#d12815') }">
                            {{ ranking.legDifference }}</td>
                        <td>{{ ranking.wonLegsPercentage | number : "1.1-1" }}%</td>
                        <td>{{ ranking.wonMatchesPercentage | number : "1.1-1" }}%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <app-tournament-history [tournaments]="seriesTournaments"></app-tournament-history>
</div>
}