<div class="series-container" *ngIf="series">
    <h1>{{ series.name }}</h1>

    <div class="rankings-container">
        <h2>Overall Rankings</h2>
        <div class="table-container">
            <table class="rankings-table">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Player</th>
                        <th *ngFor="let tournament of seriesTournaments; let i = index">
                            {{ tournament.name }}
                        </th>
                        <th>Total Points</th>
                        <th>180s</th>
                        <th>171s</th>
                        <th>HF</th>
                        <th>BL</th>
                        <th>Leg +/-</th>
                        <th>Matches</th>
                        <th>Legs</th>
                        <th>Won Legs %</th>
                        <th>Won Matches %</th>
                        <th>Change</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ranking of seriesRankings; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ ranking.player.name }}</td>
                        <td *ngFor="let points of ranking.tournamentPoints">
                            {{ !!points ? points : '-' }}
                        </td>
                        <td>{{ ranking.totalPoints }}</td>
                        <td>{{ ranking.total180s }}</td>
                        <td>{{ ranking.total171s }}</td>
                        <td>{{ ranking.highestFinish }}</td>
                        <td>{{ ranking.bestLeg }}</td>
                        <td>{{ ranking.legDifference }}</td>
                        <td>{{ ranking.matchesPlayed }}</td>
                        <td>{{ ranking.legsPlayed }}</td>
                        <td>{{ ranking.wonLegsPercentage | number : "1.1-1" }}%</td>
                        <td>{{ ranking.wonMatchesPercentage | number : "1.1-1" }}%</td>
                        <td>
                            <span [class.up]="ranking.rankChange > 0" [class.down]="ranking.rankChange < 0">
                  {{
                    ranking.rankChange > 0
                      ? "↑"
                      : ranking.rankChange < 0
                      ? "↓"
                      : "-"
                  }}
                  {{
                    ranking.rankChange !== 0
                      ? Math.abs(ranking.rankChange)
                      : ""
                  }}
                </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <app-tournament-history [tournaments]="seriesTournaments"></app-tournament-history>
</div>