<div class="tournament-details-container" *ngIf="tournament">
    <div class="tournament-header">
        <h1>{{ tournament().name }}</h1>
        <div class="tournament-meta">
            <span class="series" *ngIf="tournament().series_name">Cykl: {{ tournament().series_name }}</span>
            <span class="date">{{ tournament().date | date : "mediumDate" }}</span>
        </div>
    </div>

    <!-- Tournament Rankings -->
    <div class="rankings-container">
        <div class="table-container">
            <table class="rankings-table">
                <thead>
                    <tr>
                        <th>Miejsce</th>
                        <th>Zawodnik</th>
                        <th>Punkty</th>
                        <th>180</th>
                        <th>171</th>
                        <th>HF</th>
                        <th>BL</th>
                        <th>Legi</th>
                        <th>Bilans legów</th>
                        <th>Wygranych legów</th>
                        <th>Mecze</th>
                        <th>Wygranych meczy</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let player of getTournamentRankings(); let i = index"
                        [ngStyle]="{ 'background-color': i + 1 === 1 ? 'gold' : i + 1 === 2 ? 'silver' : i + 1 === 3 ? '#cd7f32' : 'white' }">
                        <td>{{ i + 1 }}</td>
                        <td>{{ player.name }}</td>
                        <td>{{ getTournamentPoints(player) }}</td>
                        <td>{{ getPlayerStats(player).total180s }}</td>
                        <td>{{ getPlayerStats(player).total171s }}</td>
                        <td>{{ getPlayerStats(player).highestFinish }}</td>
                        <td>{{ getPlayerStats(player).bestLeg }}</td>
                        <td>{{ getPlayerStats(player).legsPlayed }}</td>
                        <td>{{ getPlayerStats(player).legDifference }}</td>
                        <td>
                            {{
                            getPlayerStats(player).wonLegsPercentage | number : "1.1-1"
                            }}%
                        </td>
                        <td>{{ getPlayerStats(player).matchesPlayed }}</td>
                        <td>
                            {{
                            getPlayerStats(player).wonMatchesPercentage
                            | number : "1.1-1"
                            }}%
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="section">
        <h3>Faza grupowa</h3>
        <div class="groups-grid">
            <div *ngFor="let group of this.tournament().groups" class="group-results">
                <h4>Grupa {{ group.id + 1 }}</h4>
                <div class="standings">
                    <table class="standings-table">
                        <thead>
                            <tr>
                                <th>Miejsce</th>
                                <th>Zawodnik</th>
                                <th>Punkty</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let standing of getGroupStandings(group); let i = index"
                                [ngStyle]="{'background-color': i + 1 <= 2 ? 'gold' : ''}">
                                <td>{{ i + 1 }}</td>
                                <td>{{ standing.player.name }}</td>
                                <td>{{ standing.points }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <table class="results-table">
                    <tbody>
                        <tr *ngFor="let match of group.matches">
                            <td [class.winner]="isWinner(match, match.player1)">
                                {{ match.player1.name }}
                                @if (match.player1Stats) {
                                <app-player-stats [playerStats]="match.player1Stats"></app-player-stats>
                                }
                            </td>
                            <td class="score">
                                {{ match.completed ? match.player1Score + ' - ' + match.player2Score : '-' }}
                            </td>
                            <td [class.winner]="isWinner(match, match.player2)">
                                {{ match.player2.name }}
                                @if (match.player2Stats) {
                                <app-player-stats [playerStats]="match.player2Stats"></app-player-stats>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Knockout Stage Results -->
    <div *ngIf="this.tournament().knockoutStageStarted" class="section">
        <h3>Faza pucharowa</h3>
        <div class="knockout-results">
            <div *ngFor="let round of ['Round-16','Quarter-Finals', 'Semi-Finals']" class="round-results">
                <h4>{{ translateRoundName(round) }}</h4>
                <table class="results-table">
                    <tbody>
                        <tr *ngFor="let match of getMatchesByRound(round)">
                            <td [class.winner]="isWinner(match, match.player1)">
                                {{ match.player1.name }}
                                @if (match.player1Stats) {
                                <app-player-stats [playerStats]="match.player1Stats"></app-player-stats>
                                }
                            </td>
                            <td class="score">
                                {{ match.completed ? match.player1Score + ' - ' + match.player2Score : '-' }}
                            </td>
                            <td [class.winner]="isWinner(match, match.player2)">
                                {{ match.player2.name }}
                                @if (match.player2Stats) {
                                <app-player-stats [playerStats]="match.player2Stats"></app-player-stats>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="round-results">
                <h4>Finał</h4>
                <table class="results-table">
                    <tbody>
                        @if (getMatchesByRound('Final')[0]; as final) {
                        <tr>
                            <td [class.winner]="isWinner(final, final.player1)">
                                {{ final.player1.name }}
                                @if (final.player1Stats) {
                                <app-player-stats [playerStats]="final.player1Stats"></app-player-stats>
                                }
                            </td>
                            <td class="score">
                                {{ final.completed ? final.player1Score + ' - ' + final.player2Score : '-' }}
                            </td>
                            <td [class.winner]="isWinner(final, final.player2)">
                                {{ final.player2.name }}
                                @if (final.player2Stats) {
                                <app-player-stats [playerStats]="final.player2Stats"></app-player-stats>
                                }
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
                <h4>Mecz o 3 miejsce</h4>
                <table class="results-table">
                    <tbody>
                        @if (getMatchesByRound('Third-Place')[0]; as thirdPlace) {
                        <tr>
                            <td [class.winner]="isWinner(thirdPlace, thirdPlace.player1)">
                                {{ thirdPlace.player1.name }}
                                @if (thirdPlace.player1Stats) {
                                <app-player-stats [playerStats]="thirdPlace.player1Stats"></app-player-stats>
                                }
                            </td>
                            <td class="score">
                                {{ thirdPlace.completed ? thirdPlace.player1Score + ' - ' + thirdPlace.player2Score :
                                '-' }}
                            </td>
                            <td [class.winner]="isWinner(thirdPlace, thirdPlace.player2)">
                                {{ thirdPlace.player2.name }}
                                @if (thirdPlace.player2Stats) {
                                <app-player-stats [playerStats]="thirdPlace.player2Stats"></app-player-stats>
                                }
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Tournament Statistics -->
    <div class="section">
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h4>{{panelOpenState() ? 'Zwiń' : 'Rozwiń'}} statystyki zawodników</h4>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="player-tournament-stats">
                    <div *ngFor="let player of this.tournament().participants" class="player-stat-card">
                        <h5>{{ player.name }}</h5>
                        <div class="player-stat-details">
                            <div class="stat-row">
                                <span>180s:</span>
                                <span>{{ getPlayerStats(player).total180s }}</span>
                            </div>
                            <div class="stat-row">
                                <span>171s:</span>
                                <span>{{ getPlayerStats(player).total171s }}</span>
                            </div>
                            <div class="stat-row">
                                <span>Highest Finish:</span>
                                <span>{{ getPlayerStats(player).highestFinish }}</span>
                            </div>
                            <div class="stat-row">
                                <span>Best Leg:</span>
                                <span>{{ getPlayerStats(player).bestLeg }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>