<div class="tournament-details-container" *ngIf="tournament">
    <div class="tournament-header">
        <h1>{{ tournament().name }}</h1>
        <div class="tournament-meta">
            <span class="series" *ngIf="tournament().series_name">Cykl: {{ tournament().series_name }}</span>
            <span class="date">{{ tournament().date | date : "mediumDate" }}</span>
        </div>
    </div>

    <!-- Tournament Rankings -->
    <div class="rankings-container">
        <div class="view-controls">
            <label class="checkbox-container">
                <input type="checkbox" [(ngModel)]="extendedView" (change)="toggleExtendedView()" />
                <span class="checkmark"></span>
                <span class="checkbox-label">Widok rozszerzony</span>
            </label>
        </div>
        <div class="table-container">
            <table class="rankings-table">
                <thead>
                    <tr>
                        <th>Miejsce</th>
                        <th>Zawodnik</th>
                        <th>Punkty</th>
                        <th>180</th>
                        <th>171</th>
                        <th>HF</th>
                        <th>BL</th>
                        <th>Legi</th>
                        <th>Bilans legów</th>
                        @if (extendedView) {
                        <th>Wygrane legi</th>
                        <th>Przegrane legi</th>
                        <th>Wygranych legów (%)</th>
                        }
                        <th>Mecze</th>
                        @if (extendedView) {
                        <th>Wygranych meczów (%)</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let player of getTournamentRankings(); let i = index"
                        [ngStyle]="{ 'background-color': i + 1 === 1 ? 'gold' : i + 1 === 2 ? 'silver' : i + 1 === 3 ? '#cd7f32' : 'white' }">
                        <td>{{ i + 1 }}</td>
                        <td>{{ player.name }}</td>
                        @let playerStats = getPlayerStats(player);
                        <td>{{ getTournamentPoints(player) }}</td>
                        <td>{{ playerStats.total180s !== 0 ? playerStats.total180s : '' }}</td>
                        <td>{{ playerStats.total171s !== 0 ? playerStats.total171s : '' }}</td>
                        <td>{{ playerStats.highestFinish !== 0 ? playerStats.highestFinish : '' }}</td>
                        <td>{{ playerStats.bestLeg !== 0 ? playerStats.bestLeg: ''}}</td>
                        <td>{{ playerStats.legsPlayed }}</td>
                        <td>{{ playerStats.legDifference }}</td>
                        @if (extendedView) {
                        <td>{{ playerStats.legsWon }}</td>
                        <td>{{ playerStats.legsPlayed -playerStats.legsWon }}</td>
                        <td>
                            {{
                            playerStats.wonLegsPercentage | number : "1.1-1"
                            }}%
                        </td>
                        }

                        <td>{{ playerStats.matchesPlayed }}</td>
                        @if (extendedView) {
                        <td>
                            {{
                            playerStats.wonMatchesPercentage
                            | number : "1.1-1"
                            }}%
                        </td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="section">
        <h3>Faza grupowa</h3>
        <div class="groups-grid">
            <div *ngFor="let group of this.tournament().groups" class="group-results">
                <h4>Grupa {{ group.id + 1 }}</h4>
                <div class="standings">
                    <table class="standings-table">
                        <thead>
                            <tr>
                                <th>Miejsce</th>
                                <th>Zawodnik</th>
                                <th>Punkty</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let standing of getGroupStandings(group); let i = index"
                                [ngStyle]="{'background-color': i + 1 <= 2 ? 'gold' : ''}">
                                <td>{{ i + 1 }}</td>
                                <td>{{ standing.player.name }}</td>
                                <td>{{ standing.points }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <table class="results-table">
                    <tbody>
                        <tr *ngFor="let match of group.matches">
                            <td [class.winner]="isWinner(match, match.player1)">
                                {{ match.player1.name }}
                                @if (match.player1Stats) {
                                <app-player-stats [playerStats]="match.player1Stats"></app-player-stats>
                                }
                            </td>
                            <td class="score">
                                {{ match.completed ? match.player1Score + ' - ' + match.player2Score : '-' }}
                            </td>
                            <td [class.winner]="isWinner(match, match.player2)">
                                {{ match.player2.name }}
                                @if (match.player2Stats) {
                                <app-player-stats [playerStats]="match.player2Stats"></app-player-stats>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Knockout Stage Results -->
    <div *ngIf="this.tournament().knockoutStageStarted" class="section">
        <h3>Faza pucharowa</h3>
        <div class="knockout-results">
            @let rounds = getMatchesByRound('Round-16').length > 0 ? ['Round-16','Quarter-Finals', 'Semi-Finals'] :
            ['Quarter-Finals', 'Semi-Finals'];
            <div *ngFor="let round of rounds" class="round-results">
                <h4>{{ translateRoundName(round) }}</h4>
                <table class="results-table">
                    <tbody>
                        <tr *ngFor="let match of getMatchesByRound(round)">
                            <td [class.winner]="isWinner(match, match.player1)">
                                {{ match.player1.name }}
                                @if (match.player1Stats) {
                                <app-player-stats [playerStats]="match.player1Stats"></app-player-stats>
                                }
                            </td>
                            <td class="score">
                                {{ match.completed ? match.player1Score + ' - ' + match.player2Score : '-' }}
                            </td>
                            <td [class.winner]="isWinner(match, match.player2)">
                                {{ match.player2.name }}
                                @if (match.player2Stats) {
                                <app-player-stats [playerStats]="match.player2Stats"></app-player-stats>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="round-results">
                <h4>Finał</h4>
                <table class="results-table">
                    <tbody>
                        @if (getMatchesByRound('Final')[0]; as final) {
                        <tr>
                            <td [class.winner]="isWinner(final, final.player1)">
                                {{ final.player1.name }}
                                @if (final.player1Stats) {
                                <app-player-stats [playerStats]="final.player1Stats"></app-player-stats>
                                }
                            </td>
                            <td class="score">
                                {{ final.completed ? final.player1Score + ' - ' + final.player2Score : '-' }}
                            </td>
                            <td [class.winner]="isWinner(final, final.player2)">
                                {{ final.player2.name }}
                                @if (final.player2Stats) {
                                <app-player-stats [playerStats]="final.player2Stats"></app-player-stats>
                                }
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
                <h4>Mecz o 3 miejsce</h4>
                <table class="results-table">
                    <tbody>
                        @if (getMatchesByRound('Third-Place')[0]; as thirdPlace) {
                        <tr>
                            <td [class.winner]="isWinner(thirdPlace, thirdPlace.player1)">
                                {{ thirdPlace.player1.name }}
                                @if (thirdPlace.player1Stats) {
                                <app-player-stats [playerStats]="thirdPlace.player1Stats"></app-player-stats>
                                }
                            </td>
                            <td class="score">
                                {{ thirdPlace.completed ? thirdPlace.player1Score + ' - ' + thirdPlace.player2Score :
                                '-' }}
                            </td>
                            <td [class.winner]="isWinner(thirdPlace, thirdPlace.player2)">
                                {{ thirdPlace.player2.name }}
                                @if (thirdPlace.player2Stats) {
                                <app-player-stats [playerStats]="thirdPlace.player2Stats"></app-player-stats>
                                }
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Tournament Statistics -->
    <div class="section">
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h4>{{panelOpenState() ? 'Zwiń' : 'Rozwiń'}} statystyki zawodników</h4>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="player-tournament-stats">
                    <div *ngFor="let player of this.getPlayersWithStats()" class="player-stat-card">
                        <h5>{{ player.name }}</h5>
                        <div class="player-stat-details">
                            @let total180 = getPlayerStats(player).total180s;
                            @if(total180 > 0){
                            <div class="stat-row">
                                <span>180:</span>
                                <span>{{ total180 }}</span>
                            </div>
                            }

                            @let total171 = getPlayerStats(player).total171s;
                            @if(total171 > 0){
                            <div class="stat-row">
                                <span>171:</span>
                                <span>{{ total171 }}</span>
                            </div>
                            }

                            @let hf = getPlayerStats(player).highestFinish;
                            @if(hf > 0){
                            <div class="stat-row">
                                <span>HF:</span>
                                <span>{{ hf }}</span>
                            </div>
                            }

                            @let bl = getPlayerStats(player).bestLeg;
                            @if(bl > 0){
                            <div class="stat-row">
                                <span>BL:</span>
                                <span>{{ bl }}</span>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>