<header class="header">
    <div class="header-content">
        <div class="logo">
            <img src="assets/logo_fsw.png" alt="Logo" width="60" height="60" />
            <h1 (click)="showLastSeries()" style="cursor: pointer">Świebodzińska liga steel darta</h1>
        </div>
        <nav class="navigation">
            <app-tournament-navigation (selectTournamentDetails)="selectedTournamentDetails($event)"
                (selectSeriesDetails)="selectedSeriesDetails($event)"></app-tournament-navigation>

            <a class="nav-link" (click)="showLiveTournaments()">Live</a>
            <a class="nav-link" (click)="openLeagueRegistration()">Liga</a>
            <a href="#" class="nav-link">Kontakt</a>

            @if (showSecretButton) {
            @if(!(getCurrentUser() | async)) {
            <div class="nav-link highlight" (click)="openLoginDialog()">Logowanie</div>
            } @else {
            <div class="nav-link success" (click)="showNewTournament()">{{currentlyPlayedTournament ? 'Powrót do
                turnieju' : 'Stwórz turniej'}}</div>
            <div class="nav-link warning" (click)="showIncompleteTournaments()">Niedokończone turnieje</div>
            }
            }
        </nav>
    </div>
</header>
<main class="main-content">
    <div class="app-container">
        @if(isLiveSelected()) {
        <app-live-tournaments></app-live-tournaments>
        }
        @else {
        @if (selectedTournament(); as tournament) {
        <app-tournament-details [tournament]="tournament"></app-tournament-details>
        } @else {
        @if (selectedSeries(); as series) {
        <app-series-view [series]="series"></app-series-view>
        } @else {
        @if(isAdmin) {
        <app-tournament-view [currentTournament]="currentTournament()" [isAdminUser]="isAdmin"></app-tournament-view>
        }
        }
        }
        }
    </div>
</main>